<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>youtubedl-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>youtubedl-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>youtuber-mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>youtuber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>931E7EAF1B12497600FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7EC11B12497600FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7ED91B1292F400FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7EE31B1292F400FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7F011B12950300FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7F0B1B12950300FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7F2E1B12A59F00FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931E7F381B12A59F00FC5EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F215AC1B113F4D00E7E9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F215C51B113F4D00E7E9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F215D71B113F8100E7E9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F215E11B113F8100E7E9F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
